<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
    </ul>
    <h1> Available stations in {{ province }}</h1>
    {% for item in items %}
    <h2>{{ item }}</h2>
    {% endfor %}
    <form method="post" action="/stations/{province}">
        <label for="id">Input station id:
        </label><br>
        <input type="number" id="id" name="id" min={{ min_value }} max={{ max_value }}><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
